spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/notesdb
    username: notes
    password: notes
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: false
    open-in-view: false


server:
  port: 8081

jwt:
  secret: dev-secret-key-should-not-be-used-in-prod
  expiration-ms: 36000000 # 1 hour

logging:
    level:
      org.hibernate: WARN

